{% set productDate = product.post_date|date('Y-m-d H:i:s')|date('U') %}
{% set isNew = (date()|date('U') - productDate) < (30 * 24 * 60 * 60) %}
{% set productPrice = product._price %}


<div class="product-wrapper col-span-1" data-cat="{% for category in product.get_terms('product_cat') %}{{category.ID}}{{ not loop.last ? ',' }}{% endfor %}">
	<a href="{{product.link}}" class="block aspect-square relative product-thumbnail">
		{% if isNew %}
			<div class="absolute top-0 left-0 bg-[#ED1D25] px-4 z-1 ">
				<p class="text-white">{{ fn('pll__', 'new') }}</p>
			</div>
		{% endif %}

		<img class="default absolute w-full h-full object-cover object-center" src="{{Image(product.thumbnail).src}}">
		{% if product._product_image_gallery %}
			<img class="hovered absolute w-full h-full object-cover object-center" src="{{Image(product._product_image_gallery | split(',') | first).src}}">

		{% else %}
			<img class="hovered absolute w-full h-full object-cover object-center" src="{{Image(product.thumbnail).src}}">
		{% endif %}

	</a>

	<a href="{{product.link}}" class="flex mt-4 place-content-between">
		<h6 class=" max-w-lg">{{product.title}}</h6>
		<h6>
			{{ productPrice|number_format(2, ',', ' ') }}
			{{' '}}€</h6>
	</a>

</div>
