<div class="product-wrapper col-span-1" data-cat="{% for category in product.get_terms('product_cat') %}{{category.ID}}{{ not loop.last ? ',' }}{% endfor %}">

	<a href="{{product.link}}" class="block aspect-square relative product-thumbnail">
		<img class="default absolute w-full h-full object-cover object-center" src="{{Image(product.thumbnail).src}}">
		{% if product._product_image_gallery %}
			<img class="hovered absolute w-full h-full object-cover object-center" src="{{Image(product._product_image_gallery | split(',') | first).src}}">

		{% else %}
			<img class="hovered absolute w-full h-full object-cover object-center" src="{{Image(product.thumbnail).src}}">
		{% endif %}

	</a>

	<a href="{{product.link}}" class="flex mt-4 place-content-between">
		<h6 class=" max-w-lg">{{product.title}}</h6>
		<h6>
			{{product._regular_price}}
			{{' '}}€</h6>


	</a>

</div>
