<div class="bg-sand py-8 text-white footer">
	<div class="container pt-20">
		<div class="grid grid-cols-1 1024:grid-cols-2 1024:mb-20">
			<div class="col-span-1 text-container">
				<h4 class="mb-8 1024:mb-24 font-bold">{{site.title}}</h4>
				<a class="underline" href="{{options.google_maps_url}}" target="_blank">{{options.address | wpautop}}</a>
			</div>
			<div class="col-span-1 text-container mb-8 1024:mb-0">
				<h4 class="mb-8 1024:mb-24 opacity-0">{{site.title}}</h4>
				<span class="underline">{{options.extra_info | wpautop}}</span>
				<div class="socials mt-8 text-white">
					<a href="{{options.facebook}}" target="_blank">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 320 512"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>
						</span>
					</a>

					<a href="{{options.instagram}}" target="_blank">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
						</span>
					</a>

					<a href="{{options.linkedin}}" target="_blank">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 448 512"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/></svg>
						</span>
					</a>

					<a href="{{options.pinterest}}" target="_blank">
						<span>
							<svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="1em" viewbox="0 0 97.672 97.672" xml:space="preserve">
								<g>
									<path d="M51.125,0C24.469,0,11.029,19.11,11.029,35.047c0,9.649,3.653,18.232,11.487,21.432c1.286,0.525,2.438,0.019,2.812-1.403
																															c0.258-0.985,0.871-3.468,1.144-4.503c0.376-1.407,0.229-1.9-0.807-3.126c-2.259-2.665-3.703-6.115-3.703-11.002
																															c0-14.178,10.608-26.87,27.624-26.87c15.064,0,23.342,9.206,23.342,21.5c0,16.176-7.159,29.828-17.786,29.828
																															c-5.87,0-10.262-4.854-8.854-10.807c1.686-7.107,4.951-14.778,4.951-19.907c0-4.592-2.463-8.423-7.565-8.423
																															c-6,0-10.819,6.207-10.819,14.521c0,5.296,1.789,8.878,1.789,8.878s-6.141,26.015-7.215,30.571
																															c-2.145,9.072-0.322,20.195-0.168,21.318c0.089,0.666,0.944,0.824,1.332,0.322c0.555-0.723,7.7-9.544,10.129-18.359
																															c0.687-2.496,3.944-15.42,3.944-15.42c1.95,3.717,7.647,6.992,13.706,6.992c18.034,0,30.271-16.441,30.271-38.45
																															C86.644,15.498,72.547,0,51.125,0z"/>
								</g>
							</svg>

						</span>
					</a>


				</div>

			</div>
		</div>
		<div class="grid grid-cols-1 1024:grid-cols-2 1024:mb-10">
			<div class="col-span-1 text-container mb-8 1024:mb-0">
				<h6>
					{% for item in footer_menu.get_items %}
						<a class="footer menu-item mr-8" href="{{ item.link }}">{{item.title}}</a>
					{% endfor %}
				</h6>
			</div>
			<div class="col-span-1 text-container">
				<h6>©
					{{ now|date('Y') }}
					{{site.title}}. Design by
					<a href="https://ruicatalao.com/" class="underline" target="_blank">Atelier Rui Catalão</a>.</h6>
			</div>
		</div>
	</div>

</div>
