{% extends "general.twig" %}

{% block content %}

	<div class="w-full pt-36">
		<div class="container {{page}}">
			<div class="grid grid-cols-1 1024:grid-cols-2 gap-20">

				<div class="col-span-1 text-container mb-12">
					<h2 class="font-bold 1024:mb-[9rem] mb[7rem]">{{post.title}}</h2>
					<h5 class="font-bold mb-4">{{site.title}}</h5>
					<h5 class="1024:mb-[6rem] mb-[4rem] leading-8">{{options.address | wpautop}}</h5>
					<h5>
						{{post.contact_details | wpautop}}
					</h5>

				</div>
				<div class="col-span-1">
					<div class="image-container aspect-[6/7]">
						<img class="align-top" src="{{ Image(post.thumbnail).src }}">
					</div>
				</div>

			</div>
		</div>
		<div class="map-wrapper 1024:mt-[10rem] mt-[8rem]">
			{{post.editor}}
		</div>
	</div>


{% endblock %}
